
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">

    <title>DDONG BOARD</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/sketchy/bootstrap.css">
    <link rel="stylesheet" href="../static/_vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="../static/_assets/css/custom.min.css">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23019901-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23019901-1');
    </script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ddong</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Board
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              </li>
            </ul>
          </div>
        </div>
        
      </nav>

    <script src="../static/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/_vendor/prismjs/prism.js" data-manual></script>
    <script src="../static/_assets/js/custom.js"></script>
  </body>
</html>
